
// #BODY

html {
  font: #{$base_size}/#{$rythm*1.66} $body_font;
  font-weight: 400;
  font-variant-ligatures: none;

  @media #{$tablet_portrait} {
    font-size: 12px;
  }

  @media #{$phone} {
    font-size: 10px;
  }
}

body {
  color: $gold;
  background-color: $white;
}

.main {

}

::selection {
  color: $white;
  background: $black;
}


// #HEADINGS

h1, h2, h3, h4, h5, h6 {
  font-family: $headings_font;
  font-size: $base_size;
  font-weight: bold;
  line-height: $rythm;

  color: inherit;
  margin: 0 0 $rythm;

  &:last-child {
    margin-bottom: 0;
  }
}



// #PARAGRAPHS

p {
  margin: 0 0 $rythm;

  &:last-child {
    margin-bottom: 0;
  }
}

// #LINKS

a {
  position: relative;
  outline: none;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
  text-decoration-skip: ink;

  .underline_links & {
    text-decoration: underline;
  }

  &:focus,
  &:hover,
  &.a--focus {
    color: $black--dark;
  }

  &:active {
    top: 1px;
  }

  &.a--anchor {
    display: block;
    position: relative;
    top: -$rythm*4;
    visibility: hidden;
  }

  &[disabled] {
    pointer-events: none;
    text-decoration: line-through;
  }
}


// #LISTS

ol,
ul {
  margin: 0 0 $rythm;
  padding-left: $rythm;
}

// #HR

hr {
  display: inline-block;
  border: none;

  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 0.2;

  margin: $rythm/2 auto;
}


// #BLOCKQUOTE

blockquote {
  position: relative;

  font-style: italic;

  margin: 0 0 $rythm;
  padding: $rythm/4;

  &:before {
    content: "“";
    position: absolute;
    top: 0;
    right: 100%;

    font-size: 6em;
    font-style: normal;
    line-height: 1;
  }
}


// #PRE & #CODE

code {
  font-family: monospace;
  font-size: $base_size;

  display: inline-block;
  padding: $rythm/8;
}


// #SUP & #SUB

sup,
sub {
  font-size: 0.333em;
  letter-spacing: 0.333em;
  margin-left: -0.333em;
  vertical-align: middle;
}



// #STYLES

.header_giant {
  font-size: (210/$base) * 1rem;
  line-height: (200/$base) * 1rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.04em;

  @media #{$tablet_portrait} {
    font-size: (150/$base) * 1rem;
    line-height: (140/$base) * 1rem;
  }
}

.header_big {
  font-size: (100/$base) * 1rem;
  line-height: (90/$base) * 1rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.header_medium {
  font-size: (42/$base) * 1rem;
  line-height: (43/$base) * 1rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.header_small {
  font-size: (25/$base) * 1rem;
  line-height: (40/$base) * 1rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.045em;
}

.paragraph_big {
  font-size: (37/$base) * 1rem;
  line-height: (58/$base) * 1rem;
  font-weight: 400;
  letter-spacing: 0.09em;
}

.paragraph_medium {
  font-size: (21/$base) * 1rem;
  line-height: (27/$base) * 1rem;
  font-weight: 500;
  letter-spacing: 0.09em;
}

.info_big {
  font-size: (35/$base) * 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: (44/$base) * 1rem;
  letter-spacing: 0.49em;
}

.info_medium {
  font-size: (24/$base) * 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: (30/$base) * 1rem;
  letter-spacing: 0.1em;
}

.info_small {
  font-size: (16/$base) * 1rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: (32/$base) * 1rem;
  letter-spacing: 0.11em;
}


// #COLORS

.black { color: $black; }
.white { color: $white; }
.grey { color: $grey--dark; }
.green { color: $green; }
.red { color: $red; }
.blue { color: $blue; }
.yellow { color: $yellow; }
.beige { color: $beige; }

.green_on_hover { &:hover, &:focus { color: $green; } }
.red_on_hover { &:hover, &:focus { color: $red; } }
.blue_on_hover { &:hover, &:focus { color: $blue; } }
.yellow_on_hover { &:hover, &:focus { color: $yellow; } }


// #BACKGROUNDS

.white_back { background-color: $white; }
.black_back { background-color: $black; }
.green_back { background-color: $green; }
.grey_back { background-color: $grey; }
.light_grey_back { background-color: $grey--light; }
.red_back { background-color: $red; }
.blue_back { background-color: $blue; }
.yellow_back { background-color: $yellow; }



// #MISC

.icon {
  height: $base_size*1.66;
  width: $base_size*1.66;
  display: inline-block;
  fill: currentColor;
  vertical-align: bottom;
}

iframe {
  display: block;
}

small,
.small {
  font-size: $base_size;
}

.alternate { font-family: $alternate_font; }

b,
strong,
.strong,
em strong {
  font-weight: 600;
}

em,
.em {
  font-style: italic;
  text-decoration: underline;
}

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }

.nowrap {
  white-space: nowrap;
}

.spaced {
  margin: 0 1em;
}

.rounded { border-radius: $border_radius; }
.shadowed { box-shadow: 0 0 $base_size/2 fade-out($black, 0.9); }


