// #TABLE


.scrolling-table {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

table {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: visible;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $grey;

    &:first-child {
      font-weight: bold;
      border-top: 2px solid $grey;
    }

    &:last-child {
      border-width: 2px;
    }

    &.tr--updated {
      background-color: fade-out($blue, 0.8);
    }
  }

  th {
    text-align: left;
  }

  td {
    min-width: 12em;
    max-width: 12em;
    overflow: visible;
    position: relative;

    &.td--updated {
      background-color: fade-out($blue, 0.8);
    }
  }

    .th--pinned,
    .td--pinned {

    }
}
