

// #BOXES

.boxes {
  @extend .grid;
  @extend .grid--stretch;

  position: relative;
  overflow: hidden;
}

  .box {
    @extend .grid;
    @extend .grid--middle;

    min-height: 53.333vh;
    width: 33.333vw;

    padding: $gutter*2;
    
    background: $beige;
    border: $gutter solid $white;

    &.box--full {
      min-height: 100vh;
      width: 100vw;

      padding: 25vh $gutter*2;

      &.box--full--tight {
        padding: 15vh $gutter*2;
      }
    }

    @media #{$phone} {
      padding-top: $gutter*6;
      padding-bottom: $gutter*6;
    }
  }

  .box__top_right {
    position: absolute;
    top: $gutter*4;
    right: $gutter*4;

    @media #{$phone} {
      top: $gutter*2;
      right: $gutter*3;
    }
  }

  .box__bottom_right {
    position: fixed;
    z-index: 12;
    bottom: $gutter*3;
    right: $gutter*3;

    @media #{$phone} {
      display: none;
    }
  }

    .box__border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      pointer-events: none;

      border: $gutter solid $white;
    }

    .box__photos {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      @media #{$tablet_portrait} {
        top: $gutter*6;
      }
    }